@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
  }
  
.search-form {
    width: 800px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
  }
  
  .location-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .gottago-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .results-container {
    padding-left: 1vw
  }

  .pagination {
    justify-content: center;
  }