.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;
}

.custom-form {
  width: 500px;
  padding: 40px;
  border-radius: 8px;
  background-color: white;
}

ul {
  color: red;
  font-size: small;
  font-weight: bold;
}

