.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
}

.custom-form {
  width: 500px;
  padding: 40px;
  border-radius: 8px;
  background-color: white;
}

.search-form {
  width: 800px;
  padding: 40px;
  border-radius: 8px;
  background-color: white;
  
}

.location-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}